* {
    font-family: 'Raleway', sans-serif;
    color: #BFAC99;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #212121;
}

a, h1, h2, h3, h4, h5, h6, .brand-name {
    color: rgb(255, 230, 204) !important;
}

.collection.with-header .collection-header, .sidenav, footer, #btnTop {
    background-color: black;
}

/* ---------------------------------------------
Brand
--------------------------------------------- */

.brand {
    height: inherit;
    font-size: 1.8rem;
}

.brand .brand-img {
    margin-right: .2em;
    padding: .2em 0;
    height: 100%;
}

/* ---------------------------------------------
Section
--------------------------------------------- */

.content {
    padding: 2rem 0 3rem;
}

.text-section {
    line-height: 2;
    max-width: 36em;
    letter-spacing: 1px;
}

#locationSectionInfo section>p {
    margin: 0;
}

/* ---------------------------------------------
Parallax
--------------------------------------------- */

.parallax-section {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: relative;
}

.parallax-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
}

#parallax-1 {
    height: 35em;
    min-height: 100vh;
}

#parallax-2 {
    height: 15em;
    min-height: 20vh;
}

.parallax-section header {
    z-index: 1;
}

/* ---------------------------------------------
NavBar
--------------------------------------------- */

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 4rem;
    line-height: 4rem;
}

#navbar {
    transition: top 0.8s, background-color 0.5s;
    background-color: transparent;
    z-index: 2;
    padding: 0 1em;
    position: fixed;
    box-shadow: none;
}

nav ul a, .sidenav li>a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ---------------------------------------------
Menu
--------------------------------------------- */

#menuSectionFilters button {
    font-size: .8em;
    padding: 0 .8em;
    letter-spacing: .05rem;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid transparent;
    height: 2rem;
}

#menuSectionFilters button:hover {
    cursor: pointer;
    color: rgb(255, 230, 204);
    background-color: rgba(0,0,0,0.2);
}

#menuSectionFilters .active-filter-btn {
    color: rgb(255, 230, 204);
    border-bottom-color: rgb(255, 230, 204);
}

#menuSectionFilters li {
    display: inline-block;
}

.menu-item {
    margin-left: 0 !important;
}

#menuSectionItems {
    display: flex;
    flex-flow: row wrap;    
}

.multi-price-row, .multi-price-row h6 {
    margin: 0;
}

.show {
    display: block !important;
}

/* ---------------------------------------------
SideNav
--------------------------------------------- */

.sidenav li>a:hover {
    background-color: #5F564C;
}

.sidenav {
    width: 260px;
}

.sidenav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

.material-icons.sidenav-close {
    cursor: pointer;
}

/* ---------------------------------------------
Anchor Tag
--------------------------------------------- */

nav ul a, .footer-nav a{
    position: relative;
}

nav ul a::before, .footer-nav a::before{
    content: "";
    background: rgb(255, 230, 204);
    height: 2px;
    position: absolute;
    bottom: .1em;
    left: 0;
    width: 100%;
    visibility: hidden;
    transform: scaleX(0);
    transition: .25s linear;
}

nav ul a:hover::before, .footer-nav a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

/* ---------------------------------------------
Footer
--------------------------------------------- */

footer {
    padding: 2em 0 1em 0;
    position: relative;
}

footer .row {
    margin-bottom: 0;
}

.footer-nav li a {
    padding: 0 .2rem;
}

#btnTop {
    border-radius: 3.75em;
    -moz-border-radius: 3.75em;
    -webkit-border-radius: 3.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -1.5em;
    left: 0;
    right: 0;
    width: 3.75em;
    height: 3.75em;
    padding-top: .3em;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    color: rgb(255, 230, 204);
    line-height: .4;
}

#btnTop p {
    margin: 0;
}

.social-btn {
    margin: 5px 0;
    border-radius: 50%;
}

.social-btn:hover {
    opacity: 0.7;
}

.fb-btn {
    background-color: #3B5998 !important;
    orientation: portrait;
}

/* ---------------------------------------------
Media Queries
--------------------------------------------- */

@media only screen and (orientation: landscape){
    #parallax-1 {
        background-image: url('../images/wide-buffet.jpg');
        /* background-image: url('../images/wide-buffet-2.jpg'); */
    }
    #parallax-2 {
        background-image: url('../images/wide-hunan-chef-fortune-cookie.jpg');
    }
}
@media only screen and (orientation: portrait){
    #parallax-1 {
        background-image: url('../images/tall-chef-dough.jpg');
        /* background-image: url('../images/tall-chef-dough-2.jpg'); */
    }
    #parallax-2 {
        background-image: url('../images/tall-hunan-chef-fortune-cookie.jpg');
    }
}

@media only screen and (max-width: 600px){
    .location-container {
        width: 100%
    }
}

@media only screen and (max-width: 992px){
    .material-tooltip {
        display: none !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .parallax-section {
        background-attachment: fixed;
      }
} 