/* Default Style */

html, body {
    font-family: 'Raleway', sans-serif;
    color: rgba(191, 172, 153, 0.7);
    /* color: #BFAC99; */
    background-color:#212121;
    scroll-behavior: smooth;
}

a, h1, h2, h3, h4, h5, h6, nav a, nav ul a, #btnTop, .menu-filter-btn, .sidenav a, .sidenav li>a , .material-tooltip, .subtitle {
    color: #FFE6CC;
}

.title {
    font-size: 4.2rem;
    line-height: 1.2;
    margin: 2rem 0;
}

.subtitle {
    font-size:1.15rem;
}

.subheading {

}

/* Structural Elements */

section {
    padding: 3rem 0;
}

.flex-container {
    display:flex;
    align-items: center;
    justify-content: center;
}

.header {
    z-index:2;
}

header, .subheading {
    text-align:center
}

/* Side Nav */
.sidenav-trigger:hover {
    cursor: pointer;
}

.collection.with-header .collection-header, .sidenav, footer, #btnTop {
    background-color: #141414;
}

/* ---------------------------------------------
Brand
--------------------------------------------- */

.brand {
    font-size: 1.8rem;
}

.brand .brand-img {
    margin-right: .2em;
    padding: .2em 0;
    height: 100%;
}

/* ---------------------------------------------
Section
--------------------------------------------- */

/* .content {
    padding: 2rem 0 3rem;
} */

.text-section {
    line-height: 2;
    max-width: 36em;
    letter-spacing: 1px;
}

#contact section>p {
    margin: 0;
}

/* ---------------------------------------------
Parallax
--------------------------------------------- */

.parallax-section {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: relative;
}

.parallax-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
    top:0;
    left:0;
}

#parallax-1 {
    height: 35em;
    min-height: 100vh;
}

#parallax-2 {
    height: 15em;
    min-height: 20vh;
}

.parallax-section header {
    z-index: 1;
}

/* ---------------------------------------------
NavBar
--------------------------------------------- */

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 4rem;
    line-height: 4rem;
}

#navbar {
    transition: top 0.8s, background-color 0.5s;
    background-color: transparent;
    z-index: 2;
    padding: 0 1em;
    position: fixed;
    box-shadow: none;
}

nav ul a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ---------------------------------------------
Menu
--------------------------------------------- */

#menuSectionFilters button {
    font-size: .8em;
    padding: 0 .8em;
    letter-spacing: .05rem;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid transparent;
    height: 2rem;
}

#menuSectionFilters button:hover {
    cursor: pointer;
    color: rgb(255, 230, 204);
    background-color: rgba(0,0,0,0.2);
}

#menuSectionFilters .active-filter-btn {
    color: rgb(255, 230, 204);
    border-bottom-color: rgb(255, 230, 204);
}

#menuSectionFilters li {
    display: inline-block;
}

.menu-item {
    margin-left: 0 !important;
}

#menuSectionItems {
    display: flex;
    flex-flow: row wrap;    
}

.multi-price-row, .multi-price-row h6 {
    margin: 0;
}

.show {
    display: block !important;
}

/* ---------------------------------------------
SideNav
--------------------------------------------- */

.sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    background-color: #141414;
    height: 100%;
    padding: 0;
}

.sidenav li>a {
    padding: 0;
}

.sidenav-exit {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    margin-right: 18px;
    line-height: 4rem;
    padding: 0 1rem;
    cursor: pointer;
}

.sidenav-logo-img {
    display: block;
    margin: 0 auto;
    height: 60px;
}

.sidenav-logo-name {
    font-size: 2rem;
}

.sidenav-menu-container {
    width: 100%;
    text-align: center;
}

.sidenav-menu-container li>a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sidenav-menu-container li>a:hover {
    background-color: #5F564C;
}

.sidenav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav-footer .social-btn {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
}

.sidenav-footer .social-btn>i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 40px;
}

/* ---------------------------------------------
Anchor Tag
--------------------------------------------- */

nav ul a, .footer-nav a{
    position: relative;
}

nav ul a::before, .footer-nav a::before{
    content: "";
    background: rgb(255, 230, 204);
    height: 2px;
    position: absolute;
    bottom: .1em;
    left: 0;
    width: 100%;
    visibility: hidden;
    transform: scaleX(0);
    transition: .25s linear;
}

nav ul a:hover::before, .footer-nav a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

/* ---------------------------------------------
Footer
--------------------------------------------- */

footer {
    padding: 2em 0 1em 0;
    position: relative;
}

footer .row {
    margin-bottom: 0;
}

.footer-nav li a {
    padding: 0 .2rem;
}

#btnTop {
    border-radius: 3.75em;
    -moz-border-radius: 3.75em;
    -webkit-border-radius: 3.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -1.5em;
    left: 0;
    right: 0;
    width: 3.75em;
    height: 3.75em;
    padding-top: .3em;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    color: rgb(255, 230, 204);
    line-height: .4;
}

#btnTop p {
    margin: 0;
}

.social-btn:hover {
    opacity: 0.7;
}

.fb-btn {
    background-color: #3B5998 !important;
    orientation: portrait;
}

/* ---------------------------------------------
Media Queries
--------------------------------------------- */

/* mobile first design */
/* 
    #parallax-1 {
        background-image: url('../images/chef-dough-mobile-portrait.jpg');
    }
    #parallax-2 {
        background-image: url('../images/fortune-cookie-mobile-portrait.jpg');
    }

@media only screen and (orientation: landscape) {
    #parallax-1 {
        background-image: url('../images/buffet-mobile-landscape.jpg');
    }
    #parallax-2 {
        background-image: url('../images/fortune-cookie-mobile-landscape.jpg');
    }
}

@media only screen and (orientation: landscape) and (min-width: 992px) {
#parallax-1 {
        background-image: url('../images/chef-dough-mobile.jpg');
    }
    #parallax-2 {
        background-image: url('../images/fortune-cookie-mobile.jpg');
    }
}
*/

@media only screen and (orientation: landscape){
    #parallax-1 {
        background-image: url('../images/buffet.jpg');
        
    }
    #parallax-2 {
        background-image: url('../images/fortune-cookie.jpg');
    }
}

@media only screen and (orientation: portrait){
    #parallax-1 {
        background-image: url('../images/chef-dough-mobile.jpg');
    }
    #parallax-2 {
        background-image: url('../images/fortune-cookie-mobile.jpg');
    }
}

@media only screen and (orientation: landscape) and (max-width:600px){
    #parallax-1 {
        background-image: url('../images/chef-dough-mobile.jpg');
    }
    #parallax-2 {
        background-image: url('../images/fortune-cookie-mobile.jpg');
    }
}

@media only screen and (max-width: 600px){
    .location-container {
        width: 100%
    }
}

@media only screen and (max-width: 992px){
    .material-tooltip {
        display: none !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .parallax-section {
        background-attachment: fixed;
      }
} 

@media only screen and (min-width: 600px) {
    .menu-tabs {
        /* display: none !important; */
    }
}

/* Mobile Devices <= 600px
Tablet Devices > 600px	
Desktop Devices > 992px	
Large Desktop Devices > 1200px */