/* ---------------------------------------------
Default Style
--------------------------------------------- */
html, body {
    font-family: 'Raleway', Arial, sans-serif;
    background-color:#212121;
    scroll-behavior: smooth;
    color: rgba(191, 172, 153, 0.7);
}

main {
    text-align: center;
}

.sidenav, footer, #btnTop {
    background-color: #141414;
}

/* ---------------------------------------------
Color for Headers, Links, Btns
--------------------------------------------- */
.title, .subtitle, .subheading, .subheading-2, 
.navbar-nav li>a, .sidenav-trigger, .sidenav-nav li>a, footer a,  
.material-tooltip, .menu-filter-btn   {
    color: #FFE6CC;
}

/* ---------------------------------------------
Headers Fonts
--------------------------------------------- */
.title {
    font-size: 4.2rem;
    line-height: 1.2;
    margin: 2rem 0;
    text-transform: uppercase;
}

.subtitle {
    font-size:1.15rem;
}

.subheading {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 2.3733333333rem 0 1.424rem 0
}

.subheading-2 {
    font-size: 1.15rem;
    line-height: 110%;
    margin: .7666666667rem 0 .46rem 0;
}

.hidden {
    display: none;
}

/* ---------------------------------------------
Structural Elements
--------------------------------------------- */
main>section+section {
    padding: 3rem 0;
}

.flex-container {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.parallax-bg.flex-container {
    justify-content: center;
}

article section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* ---------------------------------------------
Content
--------------------------------------------- */
.intro {
    z-index: 1
}

.text-section {
    line-height: 2;
    max-width: 36em;
    letter-spacing: 1px;
    margin: 0 auto;
}

/* ---------------------------------------------
Brand
--------------------------------------------- */
.brand {  
    font-size: 2rem;
    color: #FFE6CC;
    vertical-align: top;
}

.brand .logo {
    padding: .2em 0;
    height: 100%;
}

/* ---------------------------------------------
NavBar
--------------------------------------------- */
#navbar {
    height: 4rem;
    line-height: 4rem;
    position: fixed;
    box-shadow: none;
    padding: 0 1em;
    z-index: 2;
    transition: transform 0.5s, background-color 0.5s;
    background-color: rgba(0, 0, 0, 0);
    will-change: transform, background-color;
}

#navbar.hide-navbar {
    transform: translateY(-70px);
}

#navbar.navbar-black {
    background-color: rgba(0, 0, 0, 1);
}

.navbar-nav>li a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ---------------------------------------------
Parallax
--------------------------------------------- */
.parallax-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: relative;
}

.parallax-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
    top:0;
    left:0;
}

#parallax-1 {
    background-image: url('../images/chef-dough-mobile.jpg');
    min-height: 100vh;
}

#parallax-2 {
    background-image: url('../images/fortune-cookie-mobile.jpg');
    height: 15em;
    min-height: 30vh;
}

/* ---------------------------------------------
Menu
--------------------------------------------- */
#menuSectionFilters {
    margin-bottom: 20px;
}

#menuSectionFilters li {
    display: inline-block;
}

#menuSectionFilters button {
    font-size: .8em;
    padding: 0 .8em;
    letter-spacing: .05rem;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px solid transparent;
    height: 2rem;
}

#menuSectionFilters button:hover {
    cursor: pointer;
    color: rgb(255, 230, 204);
    background-color: rgba(0,0,0,0.2);
}

#menuSectionFilters .active-filter {
    color: rgb(255, 230, 204);
    border-bottom-color: rgb(255, 230, 204);
}

.menu-item {
    margin-left: 0 !important;
    display: none;
}

.show, #menuSectionNotes.show {
    display: block;
}

#menuSectionItems {
    display: flex;
    flex-flow: row wrap;
    text-align:left;    
}

.price-col p~p {
    margin: 0;
}

#menuSectionNotes {
    display: none;
}

/* ---------------------------------------------
SideNav
--------------------------------------------- */
.sidenav {
    width: 260px;
    background-color: #141414;
    height: 100%;
    justify-content: space-around;
    padding: 0;
}

.sidenav li>a {
    padding: 0;
}

.sidenav-exit {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    margin-right: 18px;
    line-height: 4rem;
    padding: 0 1rem;
    cursor: pointer;
}

.sidenav-logo {
    height: 100%;
}

.sidenav-nav {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sidenav.flex-container .sidenav-brand, 
.sidenav.flex-container .sidenav-footer {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.sidenav-nav li>a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.sidenav-nav li>a:hover {
    background-color: #5F564C;
}

.sidenav-footer>ul>li>.social-btn {
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    padding:0;
}

.sidenav-footer .social-btn>i {
    width: inherit;
    color: #fff;
    line-height: 40px;
    margin:0;
}

.sidenav-trigger:hover {
    cursor: pointer;
}

/* ---------------------------------------------
Underline on Hover Effect
--------------------------------------------- */
nav ul a, .footer-nav a{
    position: relative;
}

nav ul a::before, .footer-nav a::before{
    content: "";
    background: rgb(255, 230, 204);
    height: 2px;
    position: absolute;
    bottom: .1em;
    left: 0;
    width: 100%;
    visibility: hidden;
    transform: scaleX(0);
    transition: .25s linear;
}

nav ul a:hover::before, .footer-nav a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

/* ---------------------------------------------
Footer
--------------------------------------------- */
footer {
    padding: 2em 0 1em 0;
    position: relative;
}

.fa-angle-up {
    font-size: 24px;
    display: block;
}

#btnTop {
    border-radius: 3.75em;
    -moz-border-radius: 3.75em;
    -webkit-border-radius: 3.75em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: -1.5em;
    left: 0;
    right: 0;
    width: 3.75em;
    height: 3.75em;
    padding-top: .3em;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    color: rgb(255, 230, 204);
    line-height: .4;
}

#btnTop p {
    margin: 0;
}

#contact section>p {
    margin: 0;
}

/* ---------------------------------------------
Social Media
--------------------------------------------- */
.fb-btn {
    background-color: #3B5998 !important;
    orientation: portrait;
}

.social-btn:hover {
    opacity: 0.7;
}

/* ---------------------------------------------
Media Queries
--------------------------------------------- */

@media only screen and (min-width: 992px){
    #parallax-1 {
        background-image: url('../images/buffet.jpg');
    }

    #parallax-2 {
        background-image: url('../images/fortune-cookie.jpg');
    }

    .parallax-bg {
        background-attachment: fixed;
    }
}

@media only screen and (orientation: landscape){
    #parallax-1 {
        background-image: url('../images/buffet.jpg');
    }
}

@media only screen and (max-width: 992px){
    .material-tooltip {
        display: none !important;
    }
}